.event-card-image{
  width: 100%;
  height: 100%;
}

.events_div{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}

.public_event-img{
  height: 400px;
  width: 100%;
}

.public_event{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}
.event_info{
  display: flex;
  justify-content: space-between;
}

.nav-link{
  color: white;
}

.page-item.active .page-link{
  border-color: black;
  background-color: black;
}